# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.VK-bot.iml
# Datasource local storage ignored files
/../../../../../../../:\files\Ноутбук\VK-bot\.idea\.idea.VK-bot.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
